body{
    background-color: blanchedalmond;
}
.container{
    margin:30px auto;
    background-color: rgb(206, 212, 214);
    border-radius:1rem;
    border: 5px solid rgb(106, 107, 110);
}

.wrapper{
    background-color: lightgreen;
}

.invisible{
    display: none;
}

.disp-block{
    display: block;
}

.channel-button{
    background-color: rgb(132, 192, 226);
    position: relative;
    margin:20px auto;
    height: 150px;
    width: 100%;
    border-radius:5em;
    cursor: pointer;
    border:4px solid rgb(106, 107, 110);;
}
.channel-button:hover{
    transform: scale(1.05);
}
.channel-button:active{
    background-color: aqua;
}
.channel-button p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: rgb(227, 241, 21);
}

.article-wrapper{
    padding: 20px;
    margin:15px;
    background-color: rgb(164, 248, 179);
    border-radius: 10px;
    border:3px solid rgb(3, 53, 24);
}

article p{
    margin :0 5%;
    font-size: 15px;
}

a{
    font-size:25px;
    float:  right;
}

.article-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.btn{
    margin-bottom:20px;
    font-size: 30px;
}

.btn-lg{
    border-radius:25px;
}

.active{
    background-color:rgb(145, 96, 12);
}
img {
    border: 3px solid rgb(32, 46, 5);
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    max-height: 250px;
    border-radius: 15px;
}

.loading-indicator{
    text-align: center;
    font-size: 45px;
    color:red;
}
